{{page-title "Onboarding"}}
<h2 class="card-title">
  Add a user
</h2>
{{#if this.showConfirmSent}}
  <div class="alert alert-success" role="alert">
    Confirmation email sent
  </div>
{{/if}}
<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <Input @type="text" class="form-control form-control-lg" id="business-name" placeholder="Business Name"
        required={{true}} @value={{this.registerData.businessName}} />
      {{#if this.eventNameExists}}
        We already have an business with that name. Business name need to be unique.
      {{/if}}
      {{#if this.eventNameMissing}}
        Please provide the business name
      {{/if}}
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <Input @type="text" class="form-control form-control-lg" placeholder="Customers First Name" id="first-name"
        required={{true}} @value={{this.registerData.firstName}} />
      {{#if this.nameMissing}}
        Please provide customers name
      {{/if}}
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <Input @type="text" class="form-control form-control-lg" placeholder="Customers Last Name" id="last-name"
        required={{true}} @value={{this.registerData.lastName}} />
      {{#if this.nameMissing}}
        Please provide customers name
      {{/if}}
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <Input @type="email" class="form-control form-control-lg" id="email" placeholder="Email Address" required={{true}}
        @value={{this.registerData.email}} />
      {{#if this.emailExists}}
        Looks like the customer already registered
      {{/if}}
      {{#if this.emailInvalid}}
        <p class="error">
          That email address doesn't look right?
        </p>
      {{/if}}
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <Input @type="password" class="form-control form-control-lg" id="password" placeholder="Password"
        required={{true}} @value={{this.registerData.password}} @insert-newline={{fn this.register}} />
      {{#if this.passwordInvalid}}
        Password must contain a mixture of uppercase and lowercase characters and at least one
        number.
      {{/if}}
    </div>
  </div>
</div>

<EmberWormhole @to="action-bar-bottom-right">
  <button type="button" class="btn btn-success" {{on "click" this.register}}>
      <FaIcon @icon="save" @prefix="far"/>
      Save Changes
    </button>
</EmberWormhole>

