<style>
  .json-formatter-row .json-formatter-key {
    color: white!important;
  }
</style>

<div {{did-insert this.didInsert}}>
  <ModalBox @title="View Log" @classes="fluid" @onCancel={{@onShowLogCancel}}>
    <:content>
      <h4>Log Level: {{@log.level}}</h4>

      <div class="table-responsive">
        <table class="table-st text-left text-sm">
        <tbody>
          <tr>
            <td>Properties:</td>
          </tr>
          <tr>
            <td>{{this.logPropertiesJson}}</td>
          </tr>

          <tr>
            <td>Exception:</td>
          </tr>
          <tr>
            <td>{{@log.exception}}</td>
          </tr>

        </tbody>
      </table>
      </div>

    </:content>
  </ModalBox>
</div>
